<ion-header>
  <ion-toolbar color="sky">
    <ion-title>Mabalacat City</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" color="light"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
  <!-- getIconName(type) {
    if (type.toLowerCase() == 'history') {
      return 'assets/icon/pillar.svg'

    } else if (type.toLowerCase() == 'fiesta') {
      return 'assets/icon/fiesta-icon.svg'

    } if (type.toLowerCase() == 'politicians') {
      return 'assets/icon/speak-speech.svg'
    } if (type.toLowerCase() == 'first family residence') {
      return 'assets/icon/home-house.svg'
    } if (type.toLowerCase() == 'branding') {
      return 'assets/icon/poster.svg'
    }
  } -->
  <!-- <ion-toolbar>
    <ion-title class="ion-text-center" color="olive">History</ion-title>
  </ion-toolbar> -->
  <ion-row style="text-align: center; background: var(--ion-color-olive); color: white">

    <ion-col style="height: 48px;
    border-right: 1px solid white;
    font-size: 14px;
    padding: 8px;" [ngClass]="selectedTab == 'History' ? 'active' :''" (click)="selectTab('History')" size-sm>
      <ion-text>
        <ion-icon src="assets/icon/pillar.svg" style="font-size: 28px;"></ion-icon> <br />
      </ion-text>

    </ion-col>

    <ion-col style="height: 48px;
    border-right: 1px solid white;
    font-size: 14px;
    padding: 8px;" [ngClass]="selectedTab == 'Fiesta' ? 'active' :''" (click)="selectTab('Fiesta')" size-sm>
      <ion-text>
        <ion-icon src="assets/icon/fiesta-icon.svg" style="font-size: 28px;"></ion-icon> <br />
      </ion-text>

    </ion-col>


    <ion-col style="height: 48px;
    border-right: 1px solid white;
    font-size: 14px;
    padding: 8px;" [ngClass]="selectedTab == 'Popular Places' ? 'active' :''" (click)="selectTab('Popular Places')"
      size-sm>
      <ion-text>
        <ion-icon name="location" style="font-size: 28px;"></ion-icon> <br />
      </ion-text>

    </ion-col>

    <ion-col style="height: 48px;
    border-right: 1px solid white;
    font-size: 14px;
    padding: 8px;" [ngClass]="selectedTab == 'Popular Personalities' ? 'active' :''" (click)="selectTab('Popular Personalities')"
      size-sm>
      <ion-text>
        <ion-icon name="people-circle" style="font-size: 28px;"></ion-icon> <br />
      </ion-text>

    </ion-col>

    <ion-col style="height: 48px;
    border-right: 1px solid white;
    font-size: 14px;
    padding: 8px;" [ngClass]="selectedTab == 'Politicians' ? 'active' :''" (click)="selectTab('Politicians')" size-sm>
      <ion-text>
        <ion-icon src="assets/icon/speak-speech.svg" style="font-size: 28px;"></ion-icon> <br />
      </ion-text>

    </ion-col>


  </ion-row>

</ion-header>


<ion-content [fullscreen]="true">
  <div class="ion-text-center tabTitle" *ngIf="selectedTab !== 'Politicians'">
    <ion-text color="olive"> {{selectedTab
      }}</ion-text>
  </div>
  <div *ngFor="let item of mabalacat_details">
    <div *ngIf="item.type == 'History' && selectedTab == 'History'">
      <ion-slides>
        <ion-slide style="height: 274px;" *ngFor="let photo of item.gallery">
          <div>
            <img [src]="photo.url" style="
          width: 100%;
          object-fit: cover;" (click)="openViewer(photo.url)">

          </div>
        </ion-slide>
      </ion-slides>
      <p style="margin:10px" [innerHTML]="item.content"></p>
    </div>

    <div *ngIf="item.type == 'Fiesta' && selectedTab == 'Fiesta'" class="ion-padding">

      <ion-button expand="block" (click)="openGallery(item)">
        <ion-icon name="image"></ion-icon>
        <ion-label>View Gallery</ion-label>
      </ion-button>

      <p [innerHTML]="item.content"></p>
    </div>
  </div>


  <div *ngIf="selectedTab == 'Politicians'">
    <ion-list>
      <div *ngFor="let item of  politicians">
        <ion-list-header color="cream">
          <ion-text color="dark">
            <h4>{{item.type}}</h4>
          </ion-text>
        </ion-list-header>
        <ion-item *ngFor="let politician of item.data" lines="full">
          <ion-icon src="assets/icon/speak-speech.svg" slot="start" style="font-size: 40px;"></ion-icon>
          <ion-label class="ion-text-wrap">
            <ion-text color="dark">
              <h4>{{ politician.name }}</h4>
            </ion-text>
            <ion-text color="olive"> <small> <i>{{politician.year}}</i></small></ion-text>
          </ion-label>
        </ion-item>
      </div>
    </ion-list>
  </div>


  <div *ngIf="selectedTab == 'Popular Places'">
    <div *ngFor="let place of places">
      <ion-card (click)="openPlaceContent(place)">

        <img *ngIf="place.photos" [src]="place.photos[0].url" class="thumbnail">
        <ion-card-header>
          <ion-card-title>{{place.title}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <div class="initial-content" [innerHtml]="place.content"></div>
        </ion-card-content>

      </ion-card>
    </div>
  </div>

  <div *ngIf="selectedTab == 'Popular Personalities'">
    <div *ngFor="let personality of personalities">
      <ion-card (click)="openPersonalityContent(personality)">

        <img *ngIf="personality.photo" [src]="personality.photo" class="thumbnail">
        <ion-card-header>
          <ion-card-title>{{personality.name}}</ion-card-title>
          <ion-card-subtitle>{{personality.title}}</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <div class="initial-content" [innerHtml]="personality.content"></div>
        </ion-card-content>

      </ion-card>
    </div>
  </div>

</ion-content>
