<ion-header class="ion-no-border">
  <ion-toolbar color="sky">
    <ion-title  >{{data.name}}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" color="light"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
  <!-- <img [src]="data.download_url"> -->
</ion-header>

<ion-content>


  <!-- <ion-list>
    <div *ngFor="let detail of data.details; let i=index"   >
      <ion-item lines="full" (click)="viewDetails(detail)">
        <ion-label>
          <h2> {{detail.type}} </h2>
        </ion-label>
        <ion-icon name="chevron-forward-circle-outline"></ion-icon>
      </ion-item>
     
    </div>

  </ion-list> -->
  <!-- <ion-list>
    <ion-card *ngFor="let detail of data.details; let i=index">
      <img src="https://picsum.photos/id/10/2500/1667">
      <ion-card-header>

        <h3>
          {{detail.type}}
        </h3>

      </ion-card-header>
      <ion-card-content>
        <div *ngIf="detail.content">
          <p [innerHTML]="detail.content" class="initial-content"> </p>
        </div>

        
        <div style="position: absolute;
          top: -118px;
          right: 8px;">
          <ion-button class="ion-text-capitalize" (click)="viewDetails(detail)">
            <ion-label>
              Start Reading &nbsp;
            </ion-label>
            <ion-icon name="arrow-forward-outline"  ></ion-icon>
          </ion-button>

          <ion-fab-button (click)="viewDetails(detail)">
            <ion-icon name="arrow-forward-outline" ></ion-icon>
          </ion-fab-button>

        </div>
      </ion-card-content>
    </ion-card>
  </ion-list> -->

  <ion-card *ngFor="let detail of data.details; let i=index" size="6" (click)="viewDetails(detail)"  >
    <ion-card-content>
      <div class="detail-container">
        <ion-icon  style="font-size: 60px;" [src]="getIconName(detail.type).source" [color]="'olive'"></ion-icon>
       <ion-text color="olive">
        <h2 style="font-weight: 600;">{{detail.type}}</h2>
       </ion-text>
      </div>
    </ion-card-content>
  </ion-card>


</ion-content>