<ion-header>
  <ion-toolbar color="primary">
    <ion-title>{{data.name}}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <img [src]="data.download_url"> -->

  <!-- <ion-list>
    <div *ngFor="let detail of data.details; let i=index"   >
      <ion-item lines="full" (click)="viewDetails(detail)">
        <ion-label>
          <h2> {{detail.type}} </h2>
        </ion-label>
        <ion-icon name="chevron-forward-circle-outline"></ion-icon>
      </ion-item>
     
    </div>

  </ion-list> -->
  <ion-list>
    <ion-card *ngFor="let detail of data.details; let i=index">
      <img src="https://picsum.photos/id/10/2500/1667">
      <ion-card-header>

        <h3>
          {{detail.type}}
        </h3>

      </ion-card-header>
      <ion-card-content>
        <div *ngIf="detail.content">
          <p [innerHTML]="detail.content" class="initial-content"> </p>
        </div>

        <!-- <div class="read-btn" style="float: right; text-align: right; padding: 2px;" > -->
        <div style="position: absolute;
          top: -118px;
          right: 8px;">
          <!-- <ion-button class="ion-text-capitalize" (click)="viewDetails(detail)">
            <ion-label>
              Start Reading &nbsp;
            </ion-label>
            <ion-icon name="arrow-forward-outline"  ></ion-icon>
          </ion-button> -->

          <ion-fab-button (click)="viewDetails(detail)">
            <ion-icon name="arrow-forward-outline" ></ion-icon>
          </ion-fab-button>

        </div>
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>