<ion-header>
  <ion-toolbar>
    <ion-title>Barangay Name</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img [src]="data.download_url">

  <!-- <ion-list>
    <ion-item>
      <ion-label>
        <h2> History </h2>
      </ion-label>
      <ion-icon name="chevron-forward-circle-outline"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-label>
        <h2> First Family Residence </h2>
      </ion-label>
      <ion-icon name="chevron-forward-circle-outline"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-label>
        <h2> Culture</h2>
      </ion-label>
      <ion-icon name="chevron-forward-circle-outline"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-label>
        <h2> Fiesta </h2>
      </ion-label>
      <ion-icon name="chevron-forward-circle-outline"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-label>
        <h2> Branding </h2>
      </ion-label>
      <ion-icon name="chevron-forward-circle-outline"></ion-icon>
    </ion-item>
  </ion-list> -->
  <ion-list>
    <div *ngFor="let item of items; let i=index" [routerLink]="['/barangay-content']">
      <ion-item lines="full">
        <ion-label>
          <h2> {{item.type}} </h2>
        </ion-label>
        <ion-icon name="chevron-forward-circle-outline"></ion-icon>
      </ion-item>
     
    </div>

  </ion-list>
</ion-content>