.active{
    background: var(--ion-color-cream);
    font-weight: bold;
    color: var(--ion-color-olive);
}

// ion-toolbar{
//     --background-color:transparent;
//     --ion-color-base:transparent  !important
// }

// ion-content{
//     --background: none;
//      background-image:  url('../../assets/imgs/test.jpg');
// }

.tabTitle{
    height: 34px;
    padding: 5px;
    font-weight: bold;
    background-color: var(--ion-color-cream);
  
}