<ion-content [fullscreen]="true">
  <!-- <img src="assets/imgs/trivia1.png"> -->
  <ion-toolbar color="sky">
    <!-- <ion-title ><ion-text color="dark">{{title}}</ion-text></ion-title> -->
    <ion-buttons slot="end">
      <ion-button slot="icon-only" (click)="dismissModal()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <div class="ion-padding">
    <div class="question" *ngIf="!showInfo">
      <ion-card>
        <ion-card-header>
          <ion-text style="font-size: 20px;" color="olive"> {{title}}</ion-text>
        </ion-card-header>
        <ion-card-content>
          <p *ngIf="!answerStats">{{trivia.triviaQuestion}}</p>
          <ion-text [color]="answerStats == 'CORRECT!' ? 'success' : 'danger'">
            <h2 *ngIf="answerStats" style="text-align: center; font-weight: bold; font-size: 35px;">{{answerStats}}</h2>
          </ion-text>
        </ion-card-content>

      </ion-card>
      <div *ngFor="let choice of trivia.choices; let i = index" style="padding:6px">
        <div (click)="selectAnswer(i)" style="border: 2px solid var(--ion-color-cream);
     
        BORDER-RADIUS: 25PX; padding: 12px; background-color: #ffffff;">
          <ion-label>
            <ion-text color="olive">
              {{choice_letters[i]}} . {{choice.title}}
            </ion-text>
            <ion-icon *ngIf="choice.selected" [name]="choice.correct ?  'checkmark' : 'close-circle'"
              [color]="choice.correct ?  'success' : 'danger'" style="float: right; font-size: 24px"></ion-icon>
          </ion-label>

        </div>
      </div>
     

    </div>

    <div *ngIf="showInfo">

      <ion-card>
        <div class="imgs" *ngFor="let photo of trivia.images">
          <img [src]="photo.url" class="trivia-photo">

        </div>
        <ion-card-header>
          <ion-text style="font-size: 20px; font-weight: bold;"> {{title}} </ion-text>
        </ion-card-header>
        <ion-card-content>
          <p>{{trivia.info}}</p>
        </ion-card-content>
      </ion-card>
    </div>

  </div>


</ion-content>