<ion-header>
  <ion-toolbar color="sky">
    <ion-title>About</ion-title>
    <ion-buttons slot="start">
       <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding ion-text-center">
  <ion-text >
    <h3>MC Balangay</h3>
    <small>A MOBILE BASED APPLICATION ABOUT THE HISTORY OF THE BARANGAYS IN MABALACAT</small>
    <br/>
     By
    <h4 *ngFor="let item of names">
      {{item}}
    </h4>
  </ion-text>

</ion-content>
