<div *ngIf="!politicians" style="text-align: center;">
  <ion-text >
    <ion-icon name="warning" style="font-size: 160px; " color="warning"></ion-icon>
    <h3> No Data Available Yet</h3>
  </ion-text>
</div>

<div *ngIf="politicians.length > 0">
  <ion-list>
    <div *ngFor="let politician of politicians"  >
      <ion-item  (click)="openDetails(politician)">
        <ion-icon *ngIf="!politician.photo" src="assets/icon/speak-speech.svg" slot="start" style="font-size: 40px;"></ion-icon>
       <ion-thumbnail  *ngIf="politician.photo" slot="start">
          <img [src]="politician.photo">
        </ion-thumbnail>
        
        <ion-label>
          <ion-text>
            <h4>{{ politician.name }}</h4>
          </ion-text>
          <ion-text color="olive"> <small> <i>{{politician.year}}</i></small></ion-text>
        </ion-label>
      </ion-item>
    </div>
   
  </ion-list>
</div>
