.spacer{
  height: 60px;
}

.spacer-2{
  height: 20px;
}

 ion-button.fb-btn{

  --background: #3b5998;

}

ion-button.fb-btn{

  --background: #3b5998;

} ion-button.google-btn{

  --background: #EA4335;

}


ion-toolbar{
  --background-color:transparent;
  --ion-color-base:transparent  !important
}

// ion-content{
//   --background: var(--ion-color-sky);
//   //  background-image: linear-gradient(
//   //     180deg
//   //     , #64bbfb, #1ac8db8f);
// }

// ion-item{
//   --background: none;
// }

// .list-md{
//    background: none !important;
// }

ion-input{
 --background: none;

}

