.spacer{
  height: 60px;
}

.spacer-2{
  height: 20px;
}

 ion-button.fb-btn{

  --background: #3b5998;

}

ion-button.fb-btn{

  --background: #3b5998;

} ion-button.google-btn{

  --background: #EA4335;

}

