<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      MCC 101 E-learning
    </ion-title>
    <ion-buttons slot="start">
      <ion-menu-toggle>
        <ion-button>
          <ion-icon slot="icon-only" name="menu"></ion-icon>
        </ion-button>
      </ion-menu-toggle>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngFor="let quiz of quizzes">
    <ion-card (click)="openQuiz(quiz)">
      <ion-card-header>
        <h3 style="float: left;"> {{ quiz.title }} </h3>
        <div class="quiz-details">
          High Score <br/>
          {{quiz.total_score}} <br/>
          100%
        </div>
      </ion-card-header>
     
      <ion-progress-bar color="primary" value="0.5"></ion-progress-bar>
    </ion-card>

  </div>



</ion-content>