<ion-header [translucent]="true">
  <ion-toolbar color="sky">
    <ion-title>
      MC Balangay
    </ion-title>
    <ion-buttons slot="start">
      <ion-menu-toggle>
        <ion-button>
          <ion-icon slot="icon-only" name="menu"></ion-icon>
        </ion-button>
      </ion-menu-toggle>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div *ngFor="let quiz of quizzes">
    <ion-card (click)="openQuiz(quiz)" color="light">
      <ion-card-header>
        <div style="float: left;">
         <ion-text>
          <h3 style="font-size: 18px;"> {{ quiz.title }} </h3>
          <p>High Score :
              {{ quiz.total_score }}

          </p>
         </ion-text>
          <!-- <p *ngIf="quiz.progress == 1">Completed</p> -->
        </div>
        <div class="quiz-details">

          <!-- {{getPercentage(quiz.progress )}} -->
          <circle-progress [percent]="getPercentage(quiz.progress )" [radius]="34" [outerStrokeWidth]="8"
            [innerStrokeWidth]="8" [space]="-10" [outerStrokeColor]="'#1AC8DB'" [innerStrokeColor]="'#e7e8ea'"
            [animation]="true" [subtitle]="quiz.progress == 1 ? 'completed' : 'progress'" [titleFontSize]="'14'"
            [animationDuration]="300"></circle-progress>
        </div>
      </ion-card-header>

      <!-- <ion-progress-bar color="primary" [value]="quiz.progress"></ion-progress-bar> -->
    </ion-card>

  </div>



</ion-content>
