<ion-header [translucent]="true">
  <ion-toolbar color="sky">
    <ion-buttons slot="start">
      <ion-menu-toggle auto-hide>
        <ion-button>
          <ion-icon slot="icon-only" name="menu"></ion-icon>
        </ion-button>
      </ion-menu-toggle>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="openModal()">
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      MCC 101 E-learning
    </ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-item lines="none" [routerLink]="['/mabalacat-history']">
      <ion-thumbnail slot="start">
        <img src="assets/barangay-logos/mabalacat-logo.png">
      </ion-thumbnail>
      <ion-title >Mabalacat City</ion-title>
      <!-- <ion-icon name="arrow" slot="end"></ion-icon> -->
      <ion-icon name="chevron-forward-outline" slot="end" ></ion-icon>
    </ion-item>
  </ion-toolbar>
  <!-- <ion-toolbar>
    <ion-item lines="none">
      <ion-thumbnail slot="start">
        <img src="assets/barangay-logos/mabalacat-logo.png">
      </ion-thumbnail>
      <ion-title color="taupe">Mabalacat City</ion-title>
    </ion-item>
  </ion-toolbar> -->
</ion-header>

<ion-content [fullscreen]="true" style="text-align: center;">
  <div style="padding:4px"></div>
  <ion-row>
    <!-- <ion-col *ngFor="let barangay of barangayList; let i=index;" size="4">

      <ion-card (click)="openContent(barangay)">
        <div class="test-card">
          <div class="logo" style="height:116px">
            <img [src]="barangay.logo_url" style=" height: 120px;
          width: 100%;
          object-fit: contain;" />
          </div>

          <div class="text" style="text-align: center;">
            <ion-text style="font-size: 11px; font-weight: bold; " color="taupe">{{ barangay.name }} </ion-text>
          </div>
        </div>
      </ion-card>
    </ion-col> -->
    <ion-col *ngFor="let barangay of barangayList; let i=index;" size="4" class="ion-align-self-center">
      <div (click)="openContent(barangay)">

        <div class="logo">
          <img [src]="barangay.logoUrl" style=" height: 80px;
          width: 80px;
          object-fit: contain;" />
        </div>

        <div class="text" style="text-align: center;">
          <ion-text style="font-size: 11px; font-weight: bold; "  >{{ barangay.name }} </ion-text>
        </div>
      </div>

    </ion-col>


  </ion-row>
</ion-content>
