<ion-header [translucent]="true">
  <ion-toolbar color="teal">
    <ion-title>
      Tab 3
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <!-- <ion-slides [options]="slidesOptions" pager="true">
    <ion-slide style="height: 274px;">
      <img src="assets/mock-imgs/header-1.jpg" style="
    width: 100%;
    object-fit: cover;">
    </ion-slide>
    <ion-slide style="height: 274px;">
      <img src="assets/mock-imgs/header-2.jpg" style="
    width: 100%;
    object-fit: cover;">
    </ion-slide>
    <ion-slide style="height: 274px;">
      <img src="assets/mock-imgs/header-3.jpg" style=" 
    width: 100%;
    object-fit: cover;">
    </ion-slide>
  </ion-slides>

   -->

  <!-- <img src="assets/mock-imgs/header-1.jpg" style="height: 100%;
   width: auto;
   object-fit: cover;
"> -->
<!-- <ion-input [(ngModel)]="txt" placeholder="enter text"></ion-input>
<ion-button >Test TTS</ion-button> -->
</ion-content>

 