.img-title{
    position: absolute;
    left: 0;
    bottom: 0;
    color: white;
    background-color: rgb(0 0 0 / 54%);
    width: 100%;
    height: auto;
    text-align: left;
    padding: 4px;
    font-weight: 600;
}

.brand-img{
    height: 240px;
    width: 240px;
}

.img-container{
    text-align: center;
    margin-top: 14px;
}

.fiesta-img{
    height: 360px;
    width: 300px
}