<ion-content [fullscreen]="true" #content>
  <ion-toolbar color="sky">
    <ion-buttons slot="start" *ngIf="!showResults">
      <ion-button slot="icon-only" (click)="quitQuiz()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
      <!-- <ion-back-button defaultHref="/tabs/tab2"></ion-back-button> -->
    </ion-buttons>
    <ion-buttons slot="end" *ngIf="currentPage < lastPage">
      <ion-button (click)="nextPage()"  class="ion-text-capitalize">Skip</ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center" *ngIf="showResults">
      Quiz Results
    </ion-title>
  </ion-toolbar>
  <div *ngIf="quizContent.questions.length <= 0" style="text-align: center;">
    <ion-text>
      <ion-icon name="warning" style="font-size: 160px;" color="warning"></ion-icon>
      <h3> No Questions Available Yet</h3>
    </ion-text>
  </div>
  <ion-row *ngIf="!showResults">
    <ion-col size="4" style="text-align:center; font-weight: bold;">
      <ion-text color="light">
        <h3> {{currentPage + 1}} / {{lastPage}} </h3>
        Questions
      </ion-text>
    </ion-col>
    <ion-col size="4" style="text-align: center;">
      <div style="margin-top: 2%;position: relative; top: 22px; ">
        <countdown #timer class="timer" [config]="config" (event)="handleTimer($event)"></countdown>
      </div>
    </ion-col>
    <ion-col size="4" style="text-align:center; font-weight: bold;">
      <ion-text color="light">
        <h3> {{ totalScore }} </h3>
        Points
      </ion-text>
    </ion-col>
  </ion-row>
  <ion-slides #slider [options]="slidesOptions" *ngIf="!showResults">
    <ion-slide *ngFor="let item of quizContent.questions">
      <div style="width: 100%;">
       
        <div class="spacer"></div>

        <div *ngIf="item">
          <ion-card>
            <ion-text color="taupe">
              <p class="ion-padding" style="font-size: 16px; text-align: left;"> {{item.question}} </p>
            </ion-text>
          </ion-card>

          <div class="spacer"></div>
          <div class="choices">
            <div *ngFor="let choice  of item.choices; let i= index">
              <!-- <ion-button expand="block" size="large" fill="outline" [disabled]="currentData.isOpen && !choice.selected"
              [color]="choice.selected ? 'primary' :'dark'" (click)="select(i)">  <ion-text class="ion-text-wrap">
                
              </ion-text></ion-button> -->
              <ion-card [color]="choice.selected ? (choice.correct? 'success' : 'danger' ) : 'light'"
                (click)="select(i)" class="ion-text-left">
                <ion-card-header>
                  <ion-badge color="turquoise" class="choice-letter">
                    <ion-text color="light"> {{letters[i]}}</ion-text>
                  </ion-badge>
                  <ion-text color="taupe"><span> {{choice.title}}</span></ion-text>
                  <div class="answer-details">
                    <ion-icon [name]="choice.correct? 'checkmark-circle' : 'close'" style="font-size: 24px;"
                      color="light" *ngIf="choice.selected"></ion-icon>
                  </div>
                </ion-card-header>
              </ion-card>

            </div>
          </div>
        </div>
      </div>
    </ion-slide>
  </ion-slides>

  <div class="ion-text-center ion-padding" *ngIf="showResults">
    <ion-text color="light">
      <h3> Number of Correct Anwers: <br /> {{totalCorrectAnswers}} out of {{ lastPage }} Questions</h3>
    </ion-text>
    <div class="spacer"></div>
    <ion-card color="misty">
      <ion-card-content>
        <ion-card-header>
          <ion-text color="taupe">
            <h1>Your Final Score: </h1>
          </ion-text>
        </ion-card-header>
        <ion-card-content class="score-details">
          <ion-card
            style=" background-image: linear-gradient(to top, #2ccafa, #5d8f9e); width: 10em; height: 10em; border-radius: 5em;">

            <ion-card-content style=" top: 14%; justify-content: center;">
              <h1 style=" font-size: 60px; color: white; ">{{totalScore}}</h1>
            </ion-card-content>

          </ion-card>
        </ion-card-content>

      </ion-card-content>
    </ion-card>
  </div>
  <div *ngIf="showResults" class="ion-padding resetBtns">
    <ion-button (click)="resetQuiz()" expand="block" color="danger">
      <ion-icon name="reload" color="light"></ion-icon>
      <ion-label>
        <ion-text slot="end" color="light"> Try Again</ion-text>
      </ion-label>
    </ion-button>
    <ion-button expand="block" color="olive" (click)="exitQuiz()">
      <ion-label>
        <ion-text slot="end"> Finish </ion-text>
      </ion-label>
    </ion-button>
  </div>
</ion-content >
<!-- <ion-footer>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button slot="icon-only" [disabled]="currentPage <= 1" (click)="previousPage()">
        Previous
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button slot="icon-only" (click)="nextPage()" [disabled]="currentPage >= lastPage">
        Next
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer> -->


<!-- <ion-toolbar  *ngIf="showResults" class="ion-no-border ion-padding">
  <ion-button (click)="resetQuiz()" expand="block" color="turquoise">
    <ion-icon name="reload" color="light"></ion-icon>
    <ion-label>
      <ion-text slot="end" color="light"> Try Again</ion-text>
    </ion-label>
  </ion-button>
  <ion-button expand="block" color="danger" (click)="exitQuiz()">
    <ion-label>
      <ion-text slot="end"> Finish </ion-text>
    </ion-label>
  </ion-button>
 </ion-toolbar>
  -->