<ion-app>
  <ion-menu contentId="main-content" side="start" type="overlay">
    <ion-header>
      <ion-toolbar color="teal">
        <ion-title >MCC 101 E-Learning</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content [fullscreen]="true" color="teal">
     
        <ion-menu-toggle>
          <ion-item [routerLink]="['/about']" color="teal" lines="none">
            <ion-icon slot="start" name="information-circle-outline"></ion-icon>
            <ion-label>
              About
            </ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item color="teal" lines="none">
            <ion-icon slot="start" name="settings"></ion-icon>
            <ion-label>
              Setting
            </ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-item lines="none" color="teal">
          <ion-icon slot="start" name="moon"></ion-icon>
          <ion-label>
            Dark Mode
          </ion-label>
          <ion-toggle id="themeToggle" slot="end" (ionChange)="setTheme($event)"></ion-toggle>
        </ion-item>
    
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main-content"></ion-router-outlet>

</ion-app>