<ion-app>
  <ion-menu contentId="main-content" side="start" type="overlay" *ngIf="isLoggedIn">
    <ion-header>
      <ion-toolbar color="sky">
        <ion-title>MC Balangay</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content [fullscreen]="true" color="sky">
      <!-- <ion-item color="sky" lines="none">

        <ion-avatar slot="start">
          <img src="../assets/barangay-logos/atlubola.png">
        </ion-avatar>
        <ion-label>

        </ion-label>
      </ion-item> -->

      <div class="img-container" *ngIf="userInfo">
        <img [src]="userInfo.photoURL" class="img-profile">
         <h4>{{userInfo.name}}</h4>
      </div>
      <ion-menu-toggle>
        <ion-item [routerLink]="['/about']" color="sky" lines="none">
          <ion-icon slot="start" name="information-circle-outline"></ion-icon>
          <ion-label>
            About
          </ion-label>
        </ion-item>
      </ion-menu-toggle>

      <ion-item lines="none" color="sky">
        <ion-icon slot="start" name="moon"></ion-icon>
        <ion-label>
          Dark Mode
        </ion-label>
        <ion-toggle id="themeToggle" slot="end" [checked]="settings && settings.theme == 'dark'"
          (ionChange)="setTheme($event)"></ion-toggle>
      </ion-item>
      <ion-menu-toggle>
        <ion-item lines="none" color="sky" (click)="logout()">
          <ion-icon slot="start" name="moon"></ion-icon>
          <ion-label>
            Logout
          </ion-label>
        </ion-item>
      </ion-menu-toggle>

    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main-content"></ion-router-outlet>

</ion-app>
