<ion-header [translucent]="true">

  <ion-toolbar color="sky">
    <ion-searchbar inputmode="search" animated enterkeyhint="search" showCancelButton #searchBar
      (ionCancel)="closeModal()" (ionChange)="search($event)" (ionClear)="resetResults()">
    </ion-searchbar>
    <ion-buttons slot="end" *ngIf="results.length > 0">
      <ion-button slot="icon-only" (click)="showFilterModal()">
        <ion-icon name="funnel-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>

<ion-content class="ion-padding">
  <ng-template [ngIf]="results.length > 0">
    <div *ngFor="let result of results">
      <!-- <app-item [item]="result" (click)="openContent(result)"></app-item> -->
      <ion-item (click)="openContent(result)">
        <ion-thumbnail slot="start">
          <img [src]="result.logo_url">
        </ion-thumbnail>
        <ion-label class="ion-text-wrap">
          <h3><strong>{{result.name}} </strong></h3>
          <!-- <div [innerHTML]="result.foundInfo.content" *ngIf="result.foundInfo" class="initial-content"> </div> -->
          <div *ngIf="result.foundInfo">
            <p [innerHTML]="result.foundInfo.content" class="initial-content"> </p>
          </div>
        </ion-label>
      </ion-item>
    </div>
  </ng-template>
  <ng-template [ngIf]="results.length <= 0">
    <p class="ion-text-center"> {{warningMsg}} </p>
  </ng-template>
</ion-content>