<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-searchbar inputmode="search" enterkeyhint="search" showCancelButton #searchBar (ionCancel)="closeModal()"
      (ionChange)="search($event)" (ionClear)="resetResults()">
    </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ng-template [ngIf]="results.length > 0">
    <div *ngFor="let result of results">
      <!-- <app-item [item]="result" (click)="openContent(result)"></app-item> -->
      <ion-item (click)="openContent(result)">
        <ion-thumbnail slot="start">
          <img [src]="result.download_url">
        </ion-thumbnail>
        <ion-label>
          <h4>{{result.name}}</h4>
          <p>Lorem ipsum ... some info here</p>
        </ion-label>
      </ion-item>
    </div>
  </ng-template>
  <ng-template [ngIf]="results.length <= 0">
    <p class="ion-text-center"> {{warningMsg}} </p>
  </ng-template>
</ion-content>