<ion-header class="ion-no-border">
  <ion-toolbar color="sky">
    <ion-title> Barangay {{barangayName}}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button slot="icon-only" (click)="showControls($event)">
        <ion-icon name="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar>
    <ion-title class="ion-text-center" color="olive">
      {{details.type}}
    </ion-title>
  </ion-toolbar>

</ion-header>

<ion-content>
  <ion-slides [options]="slidesOptions" [pager]="details.images.length > 1 ? true : false"
    *ngIf="details.images.length < 1">
    <ion-slide>
      <!-- <img src="assets/mock-imgs/header-1.jpg" style="
    width: 100%;
    object-fit: cover;" imageViewer > -->
      <ion-img-viewer scheme="dark" src="assets/mock-imgs/header-1.jpg" class="image-viewer"
       ></ion-img-viewer>
    </ion-slide>
    <ion-slide>
      <!-- <img src="assets/mock-imgs/header-2.jpg" style="
    width: 100%;
    object-fit: cover;" (click)="viewPhoto('assets/mock-imgs/header-2.jpg')"> -->
      <ion-img-viewer scheme="dark" src="assets/mock-imgs/header-2.jpg"
       ></ion-img-viewer>
    </ion-slide>
    <ion-slide>
      <!-- <img src="assets/mock-imgs/header-3.jpg" style=" 
    width: 100%;
    
    object-fit: cover;" (click)="viewPhoto('assets/mock-imgs/header-3.jpg')"> -->
      <ion-img-viewer scheme="dark" src="assets/mock-imgs/header-3.jpg" class="image-viewer"
       ></ion-img-viewer>
    </ion-slide>
  </ion-slides>
  <ion-slides [options]="slidesOptions" [pager]="details.images.length > 1 ? true : false" *ngIf="details.images">
    <ion-slide style="height: 274px;" *ngFor="let img of details.images">
      <ion-img-viewer scheme="dark" style="height: 274px;" [src]="img"></ion-img-viewer>
    </ion-slide>


  </ion-slides>
  <div [innerHTML]="details.content" class="details ion-padding" [ngStyle]="{'font-size': fontSize+'px'}"></div>